*{
   background-color:  coral;
}
.hara{
    height: 60px;
    width: 60px;
    background-color: rgb(201, 219, 99);
}
.hara2{
    background-color: #20b7bd;
    height: 60px;
    width: 60px;
}