* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #e2e2e2;
}
nav {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 2px 2px 5px gray;
}
.nav-text {
  font-size: 28px;
  margin-top: 10px;
}
/* CSS */
.btn {
  margin-top: 10px;
  align-items: center;
  appearance: none;
  /* background-color: #fcfcfd; */
  background-color: #e2e2e2;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 0px 2px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.body-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.box{
  display: flex;
  background-color: white;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}
.img{
  border-radius: 10px;
  height: 200px;
}
.box-content{
  display: block;
}
.title{
  font-size: 32px;
  padding-left: 10px;
}
.text{
  font-size: 18px;
  padding-left: 10px;
  height: 110px;
}
.link{
  padding-left: 10px;
}